@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@font-face {
    font-family: NHaasGroteskDSPro;
    src: url("font/NHaasGroteskTXPro-75Bd.otf") format("opentype");
}
@font-face {
    font-family: NHaasGroteskDSProl;
    src: url("font/NHaasGroteskTXPro-55Rg.otf") format("opentype");
}
@font-face {
    font-family: NHaasGroteskDSProdetail;
    src: url("font/NHaasGroteskTXPro-55Rg.otf") format("opentype");
}
@font-face {
    font-family: NHaasGroteskDSProwow;
    src: url("font/NHaasGroteskDSPro-65Md.otf") format("opentype");
}
.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}

.scrollbar-hidden{
    ms-overflow-style:none;
    scrollbar-width: none;
}
body{
    height: 100%;
    position: relative;
    color:black;
    min-height: 100%;
    /* max-width: 1980px; */
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(255, 255, 255);
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth; 
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container-fluid{
    width: 100%;
    margin: 0%;
}
a{
    font-family: NHaasGroteskDSProl;
    font-weight: 500;
    color:black;
}
.allproject{
    overflow: hidden;
}

.navbody{
    position: flex;
    background-color: rgb(255, 255, 255);
    width: 101%;
    /* z-index: 900; */
    margin: -0.5%;
}
img{
    max-width: 100%;
    border: 0;
    vertical-align: middle;
    display: absolute;
}

div {
    display: block;
}
 
.nav-link:hover{
    color: #005cef;
    transition: 0.25s;
}
#line{
    position: absolute;
    color: black;
    background-color: black;
    height:5px;
    width: 101%;
    float: left;
    margin-top: 0%;
    /* z-index: 900; */
}
.work{
    color: black;
    background-color: #005cef;
    height:6px;
    width: 101%;
    float: left;
    margin-top: 5.8%;
}
.wrapper {
    position: relative;
    /* z-index: 100; */
    width: 84%;
    max-width: 1980px;
    margin-right: auto;
    margin-left: auto;
}

.nav-logo {
    padding-top: 43px;
    padding-bottom: 40px;
    z-index: 900;
    position: relative;
}
.navbar{
    /* position: relative; */
    /* z-index: 900; */
    background-color: #ffffff;
    float:right;
    display: block;
}
.navbar-collapse{
    visibility: hidden;
    position: absolute;
    float:left;
    display: block;
    margin-left: -12%;
    transition: 0.5s ease-in;
    width: 125%;
    height: 0;
    /* z-index: 100; */
    padding: 3vw;
    background-color: rgb(255, 255, 255);
}

.navbar-nav{
    /* z-index: 900; */
    display: -webkit-inline-box;
}

.nav-item1 {
    position: relative;
    float:right;
    display: -webkit-inline-box;
    margin-top: 8%;
    margin-right: 45px;
    margin-left: -2%;
    font-size: 22px;
    width: 20%;
}

.nav-item {
    position: relative;
    display: none;
    margin-top: 8%;
    font-size: 20px;
    
}
.active{
    color: #005cef;
}
.navbar-toggler{
    display:none;
}

*:focus {
    outline: 0 !important;
}
#one{
        position: relative; 
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
        transform-style: preserve-3d;
    }
#two{
        margin-left: -20px;
        position: absolute;
        transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }
    .title{
        margin-top: 9%;
        font-size: 11rem;
        line-height: 44px;
        font-weight: 700;
        letter-spacing: -5px;
        line-height: 0px;
        font-family: NHaasGroteskDSPro;
        z-index: -1;
    }
    h4{
        font-family: NHaasGroteskDSProwow;
        font-size: 2rem;
        margin-bottom: -16px;
        color: #ff1f25;
    }
    h3{
        font-family: NHaasGroteskDSProwow;
        font-size: 7rem;
        letter-spacing: 0px;
        padding-bottom: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
        color: #ff1f25;
    }
    .title2{
        margin-top: 15%;
        font-size: 9.5rem;
        line-height: 44px;
        font-weight: 700;
        letter-spacing: -5px;
        line-height: 0px;
        font-family: NHaasGroteskDSPro;
        color: #005cef;
    }
    #title1{
        margin-top: 13%;
        /* z-index: -1; */
    }
    
    .active{
        font-weight: 600;
    }
.blue{
        position:relative;
        width: 100%;
        margin-top: 30rem;
        background-color: #005cef;
        padding: 15rem;
        padding-left: 2%;
    }
.detail-w{
    line-height: 1.3em;
    display: block;
    font-family: NHaasGroteskDSProl;
    color: #ffffff;
    font-size: 7.6rem;
    letter-spacing: 0px;
    font-weight: bold;
    position: inherit;
    /* z-index: -50; */
}
.nav{
    position: relative;
}
p{
    display: block;
    margin-top: 5rem;
    font-size: 2em;
    color: white;
    margin-bottom: -5%;
}
#sqr{
    max-width: 140%;
    width: 140%;
    position: absolute;
    left: 30%;
    margin-top: -6%;
    display: block;
    z-index: 2;
    scroll-behavior: smooth;
    transform-style: preserve-3d;
    transition: 0.1s linear;
}
#well{
    z-index: 10;
}
.k{
    position: relative;
    z-index: 2;
}

@keyframes sh1{
    to{
        height: 53.5vw;
        top: 50%;
    }
}

@keyframes sh2{
    to{
        top: 50%;
        height: 35vw;
    }
}

@keyframes sh3{
    from{
        height: 53.5vw;
        top: 50%;
    }
    to{
        height: 0vw;
        top: -110%;
        
    }
}

@keyframes sh4{
    from{
        height: 35vw;
        top: 50%;
    }
    to{
        top: -50%;
        height: 0vw;
    }
}
.navbar-brand{
    position: flex;
    z-index: -1;

}
.nav-logo{
    z-index: 900;
    background-color: white;
}
.navbar-show{
    position: absolute;
    top: -5%;
    z-index: -1;
    display:none;
    background-color: #ffffff;
    width: 125%;
}
.title{
    z-index: -5;
}


@media screen and (max-width:2200px) {
    body{
        max-width: 2200px;
    }
    .detail-w{
        font-size: 7rem;
        letter-spacing: 3px;
    }
    p{
    font-size: 1.7em;
    }
}
@media screen and (max-width:2000px) {
    body{
        max-width: 2000px;
    }
    .detail-w{
        font-size: 6rem;
        letter-spacing: 3px;
    }
    .blue{
        margin-top: 25%;
        padding: 12rem;
        padding-left: 2%;
    }
    p{
    font-size: 1.4em;
    }
}

@media screen and (max-width:1940px) {
    body{
        max-width: 1940px;
    }
    .detail-w{
        font-size: 6.5rem;
    }
    .blue{
        margin-top: 35%;
        padding: 13rem;
        padding-left: 2%;
    }
    p{
    font-size: 1.6em;
    }

}
@media screen and (max-width:1920px) {
    body{
        max-width: 1920px;
    }
    .blue{
        margin-top: 30%;
        padding: 14rem;
        padding-left: 2%;
    }
    .detail-w{
        font-size: 6rem;
    }

}
@media screen and (max-width:1900px) {
    body{
        max-width: 1900px;
    }
    .blue{
        margin-top: 45%;
        padding: 14rem;
        padding-left: 2%;
        
    }
    .detail-w{
        font-size: 6rem;
    }
    p{
    font-size: 1.6em;
    }
    
}
@media screen and (max-width:1880px) {
    body{
        max-width: 1880px;
    }
    .blue{
        margin-top: 35%;
        padding: 10rem;
        padding-left: 2%;
        
    }
    .detail-w{
        font-size: 5.5rem;
    }
    .title2{
        font-size: 7rem;
        letter-spacing: 1px;
    }
    h3{
        /* padding-bottom: 35px; */
        font-size: 5rem;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    h4{
        letter-spacing: 1px;
        font-size: 25px;
        margin-top: 5px;
    }
    .head-data-project{
        font-size: 60px;
    }
    .data{
        padding-left: 70px;
        padding-right: 70px;
    }
    .data-project{
        font-size: 25px;
        font-weight: 500;
    }
    .more-project{
        font-weight: 500;
    }
    @keyframes showmore{
        to{
            height: 800px;
        }
    }
    @keyframes showmore2{
        from{
            height: 800px;
        }
        to{
            height: 0px;
        }
    }
    video{
        background-size: cover;
        /* background-size: 100%; */
        position: absolute;
        height: 800px;
        cursor: pointer;
    }
}
@media screen and (max-width:1700px) {
    body{
        max-width: 1700px;
    }
    .detail-w{
        font-size: 5rem;
    }
    p{
    font-size: 1.6em;
    }
    
}
@media screen and (max-width:1600px) {
    body{
        max-width: 1600px;
    }
    .title{
        font-size: 12vw;
        margin-top: 12%;
    }
    .detail-w{
        font-size: 4.5rem;
    }
    .blue{
        margin-top: 35%;
        padding: 8rem;
        padding-left: 2%;
    }
    p{
        font-size: 1.4em;
        margin-bottom: -5%;
    }
    .title2{
        position: relative;
        font-size: 7rem;
        letter-spacing: 1px;
    }
    h3{
        /* padding-bottom: 35px; */
        font-size: 5rem;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    h4{
        letter-spacing: 1px;
        font-size: 25px;
        margin-top: 5px;
    }
    .head-data-project{
        font-size: 50px;
    }
    .data{
        padding-left: 20px;
        padding-right: 20px;
    }
    .data-project{
        font-size: 25px;
    }

    @keyframes showmore{
        to{
            height: 600px;
        }
    }
    @keyframes showmore2{
        from{
            height: 600px;
        }
        to{
            height: 0px;
        }
    }
    video{
        background-size: cover;
        /* background-size: 100%; */
        position: absolute;
        height: 600px;
        cursor: pointer;
    }
    
}
@media screen and (max-width:1470px) {
    body{
        max-width: 1470px;
    }
    .detail-w{
        font-size: 4.5rem;
        letter-spacing: 1px;
    }
    .title2{
        font-size: 120px;
        letter-spacing: 0;
    }
    .white{
        padding: 20%;
    }
    h3{
        padding-bottom: 50px;
        font-size: 80px;
        margin-top: 5px;
    }
    h4{
        font-size: 20px;
    }
    
}
@media screen and (max-width:1240px) {
    body{
        max-width: 1240px;
    }
    .detail-w{
        font-size: 4rem;
    }
    p{
        font-size: 1.2em;
    }
    
}
@media screen and (max-width:1060px) {
    body{
        max-width: 1060px;
    }
    .blue{
        margin-top: 35%;
        padding: 8rem;
        padding-left: 2%;
        
    }
    .detail-w{
        font-size: 3.8rem;
        letter-spacing: 0px;
    }
    p{
        font-size: 1.2em;
    }
}

@media screen and (max-width:1000px) {
    body{
        max-width: 1000px;
    }
    .blue{
        margin-top: 35%;
        padding: 5rem;
        padding-left: 2%;
        
    }
    .detail-w{
        font-size: 3.2rem;
        letter-spacing: 0px;
    }
    p{
        font-size: 1em;
    }
    h3{
        /* padding-bottom: 35px; */
        font-size: 5rem;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    h4{
        letter-spacing: 1px;
        font-size: 25px;
        margin-top: 5px;
    }
    .head-data-project{
        margin-bottom: -50px;
        font-size: 30px;
    }
    .data{
        padding-left: 0px;
        padding-right: 0px;
    }
    .data-project{
        font-size: 15px;
    }


    @keyframes showmore{
        to{
            height: 500px;
        }
    }
    video{
        background-size: cover;
        /* background-size: 100%; */
        position: absolute;
        height: 500px;
        cursor: pointer;
    }

}
.navbar-brand{
    z-index: 900;
}

@media screen and (max-width:990px) {
    body{
        max-width: 990px;
    }
    .navbar-show{
        height: 0vw;
    }
    .w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    } 
    .navbar-nav{
    display: block;
    z-index: 900;
    }
    .nav-item1 {
    position: relative;
    display: none;
    margin-top: 8%;
    margin-right: 50px;
    font-size: 25px;
    }
    .nav-item {
    visibility: visible;
    position: relative;
    padding: 1%;
    margin-left: 0%;
    display: none;
    margin-top: 5%;
    margin-right: 50px;
    font-size: 4vw;
    }
    #three{
        margin-top: 1%;
    }
    .navbar-toggler{
        margin-top: 50px;
        display: block;
        float: right;
    }
    .title{
        margin-top: 5%;
        font-size: 10vw;
        line-height: 44px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 20px;
        font-family: NHaasGroteskDSPro;
        z-index: -5;
    }
    #line{
        z-index: 900;
        margin-top: -1%;
    }
 .navbar-collapse{
        z-index: 100;
        visibility: visible;
    } 
    #navbarNav{
        z-index: 100;
    } 
    .blue{
        margin-top: 36%;
        padding: 3rem;
        padding-left: 2%;
        
    }
    .title2{
        font-size: 6rem;
        margin-bottom: 5%;
    }
    #ww{
        /* padding-left: 3%;
        padding-right: 3%; */
    }
    h3{
        padding-bottom: 50px;
        font-size: 5rem;
        margin-top: 5px;
    }
    h4{
        letter-spacing: 1px;
        font-size: 20px;
    }
    body{
        overflow-x: hidden;
    }
}
@media screen and (max-width:767px) {
    body{
        overflow-x: hidden;
    }
    .navbar-show{
        margin-top: -2%;
        height: 0vw;
    }
    .blue{
        margin-top: 20%;
        padding: 3rem;
        padding-left: 2%;
        
    }
    .detail-w{
        font-size: 1.5rem;
        letter-spacing: 0;
    }
    /* p{
        margin-top: 5%;
    } */
    .nav-item {
    position: relative;
    padding: 0;
    display: none;
    margin-top: 4%;
    margin-right: 50px;
    font-size: 3vw;
    }
    #ww{
       text-align: left;
    }
    .title2{
        font-size: 2.5rem;
        letter-spacing: 0.5px;
        margin-bottom: -5%;
    }
    h3{
        padding-bottom: 0px;
        font-size: 1.8rem;
        margin-top: 15px;
    }
    h4{
        margin-top: 5%;
        letter-spacing: 1px;
        font-size: 1rem;
    }
    #sqr{
       margin-top: 5px;
    }
    p{
        margin-top: 1rem;
    }

}

#arrow{
    position: absolute;
    margin-top: 10%;
    max-width: 4vw;
    transition: 0.3s;
    display: flex;
}
#arrow:hover{
    cursor: pointer;
    transform: translateY(25%);;
}

.white{
        padding: 0.5%;
        padding-bottom: 8%;
        position:relative;
        background-color: rgb(255, 255, 255);
}

.data-wrap{
    width: 80%;
    
}
@media screen and (min-width: 992px) {
    #navbarNav , .navbar-show{
        display: none;
    }
    .nav-item{
        display: none;
    }

 }

 #section-blue{
    position: relative;
    background-color: #005cef;
    padding-top: 90px;
    padding-bottom: 90px;
    display: block;
}
.services-wrapper{
    position: relative;
    z-index: 900;
    width: 85%;
    max-width: 1980px;
    margin-right: auto;
    margin-left: auto;
    background-color: #005cef;
    overflow: hidden;
}
#services-head{
    font-family: NHaasGroteskDSPro, sans-serif;
    position: relative;
    display: block;
    width: 60%;
    margin-top: 45px;
    padding-right: 20px;
    float: left;
    background-color: #005cef;
    color: #fff;
    font-size: 120px;
    letter-spacing: -4px;     
}
.line {
    /* position: relative;
    display: block; */
    width: 40%;
    height: 80px;
    background-color: #0048bc;
    float: none;
    margin-top: 65px;
    margin-bottom: 0px;
}
#graph-1{
    z-index: 700;
    display: block;
    width: 40%;
    float: right;
    margin-top: 75px;
    
}
#in-graph-yellow-1{
    position: relative;
    left: 0px;
    top: 0px;
    width: 0%;
    margin-top: 0px;
    background-color: #ffdd18;
    width: 0%;
    max-width: 100%;
}
#in-graph-yellow-2,#in-graph-yellow-3,#in-graph-yellow-4{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    margin-top: 0px;
    background-color: #ffdd18;
    width: 0%;
    max-width: 100%;
    
}
.line-1 {
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
    /* margin-top: 0px; */
    float: none;
    background-color: #0048bc;    
}
#graph-2,#graph-3,#graph-4{
    position: relative;
    float: right;
    display: block;
    box-sizing: border-box;
    margin-top: 65px;    
}
#graph-2{
    margin-top: 0px;
}
.services-clear{
    clear: both;
}



.services{
    position: relative;
    display: block;
    height: 590px;
    margin-top: 60px;
    overflow: hidden;
}
.services-body{
    font-family:NHaasGroteskDSProwow, sans-serif;
    color: #0048bc;
    font-size: 45px;
    line-height: 68px;
    font-weight: 400;
    text-align: justify;
    
    letter-spacing: -1px;
    max-height: 580px ;
    overflow: hidden;
}
.services-link{
    width: 100%;
    color: #0048bc;
    font-size: 55px;
    display: inline-flexbox;
    overflow: hidden;
    box-sizing: border-box; 
    z-index: 900;
    font-family:NHaasGroteskDSProwow, sans-serif;
}
.services-link:hover{
    color: #fff;
    transition: 550ms;
    transition-timing-function: ease-in;
    text-decoration: none;
}
/*hide*/

.services-description{
    position:  absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 590px ;
    transform: translate(-120%);
    overflow: hidden;
   
}
.services-hide{
    transform: translate(-120%);
    position:  relative;
    display:flex;
    flex-direction: column;
    width:100%;
    height: 570px ;
    background-color: #0048bc;
    justify-content: center;
    overflow: hidden;
    text-align: justify;
    padding: 5%; ; 
    margin-top: 0px;
    transition-timing-function: ease-in;
}
.services-title{
    font-family: NHaasGroteskDSProwow, sans-serif;
    font-size: 60px;
    margin-bottom: 0%;
    letter-spacing: 1px;
}
.services-synopsis{
    font-family: NHaasGroteskDSProl, sans-serif;
    font-size: 26px;
    line-height: 1.6;
    margin-bottom: 0px;
    margin-top: 30px;
}
.services-text{
    color: #fff;
    width: 90%;;
}
#sorn{
    position: absolute;
    width: 50px;
    transform: rotate(90deg) translatey(-5px);
    top: 0;
    margin-top: 3%;
    margin-left: 85%;
    
    
}
#sorn:hover{
    transform: rotate(90deg) translatey(15px);
    transition: ease-out 50ms ;
}
.section-red{
    background-color: #ff1f25;
    position: relative;
    padding-top: 90px;
    /* padding-bottom: 80px; */
    
}
.team-header{
    position: relative;
    z-index: 900;
    max-width: 1980px;
    margin-right:auto;
    margin-left: auto;
}
#team-header-title{
    color: #fff;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: -1px;
    position: relative;
    z-index: 500;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 7.5%;
}
.team{
    position: relative;
    margin-top: 120px;
    padding-top: 240px;
    padding-bottom: 390px;
    overflow: hidden;
   
    /* background-color: #ddd; */
}
.bg_img{
    margin-top: 5%;
    margin-left: -10%;
    width: 120%;
    object-fit: cover;
    margin-top: -230px;
    padding-bottom: 300px;
}
.wrap_team{
    position:absolute;
    top: 0;
    z-index: 900;
    width: 85%;
    max-width: 1980px;
    margin-right: auto;
    margin-left: 7.5%;
}
/* .team_body{
    position: relative;
    top: 0;
} */
.team_person{
    position: relative;
    display: block;
    width: 100%;
    line-height: 18px;
    box-sizing: border-box;
   
}
.person{
    position: relative;
    display: inline-block;
    width: 45%;
}
/* .person_one{
    position: absolute;
    top: 0;
   
} */
.bg_person{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.person_1{
    max-width:94.2%;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    left:0;
    top: 0;
    margin-left: 5.8%;
}
.person_2{
    opacity: 1;
}
.person_2:hover{
    opacity: 0;
}
.team_person:nth-child(even){
    margin-left: 55%;
    margin-top: -20%;
}
.team_person:nth-child(3){
    margin-top: -20%;
}
.team_name{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}
.team_pos{
    font-weight: 400;
    font-size: 24px;
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 0px;
    margin-top: 10px;
}
.section-red-2{
    background-color: #ff1f25;
    position: relative;
    overflow: hidden;
    padding-top: 80px;
    
    
}
.hello{
    margin-bottom: 40px;
    /* margin-top: 30px; */
    font-size: 120px;
    font-family: NHaasGroteskDSPro,sans-serif;
}

.contact{
    padding-top: 150px;
    /* padding-bottom: 90px; */
    color: #fff;
    width: 85%;
    margin-left: 7.5%;
    margin-top: -200px;

}
.email, .address{
    font-size: 20px;
    display: block;
    font-size: NHaasGroteskDSProwow,sans-serif;

}
.address-data{
    font-weight: lighter;
    line-height: 35px;
    font-family: NHaasGroteskDSProl,sans-serif;
}
.to-email{
    font-size: 60px;
    margin-top: 20px;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-size: NHaasGroteskDSProdetail,sans-serif;
    font-weight: 500;

}
.contact-email{
    line-height: 25px;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
.line-hidden{
    position: absolute;
    top: 90px;
    width: 0px;
    left: 230px;
    transition: 0.5s;
    margin-left: 3%;
    z-index: 900;
    height: 7px;
    background-color: #fff;
}
.show-email{
    position: relative;
    padding: 0;
    margin-left: 0px;
    margin-top: -20px;
    color: #fff;
    
}
.show-email:hover .line-hidden{
    width: 450px;
    left: 0;
}
#top-arrow{
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    top: 0;
    height: 150px;
}
.contact-address{
    margin-top: 20px;
}
.wrap-arrow{
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: -15px;
}
.wrap-contact{
    position: relative;
    z-index: 900;
}
.wrap-arrow:hover #top-arrow, a[href='#top']:hover #top-arrow, #top-arrow:hover{
    top: -50px;
}
.white-line-hello{
    margin-bottom: 40px;
    z-index: -1;
    background-color: #fff;
    height: 8px;
}
.wrap_blue{
    position:absolute;
    top:0;
    bottom: 0;
    width:100%;
    /* height:100%; */
    /* transform: translateX(-100%); */
    padding-top: 40px;
    background-color: #005cef;
}
.circle{
    position: absolute;
    top:-200px;
    right: -600px;
    background-color: #ffdd18;
    width: 1200px;
    height: 1200px;
    border-radius: 1000px;
    z-index: 700;
}



@media screen and (max-width: 991px){
    #section-blue{
        padding-top: 100px;
        padding-bottom:100px;
        overflow: visible;
        
    }

    #services-head{
        font-size: 90px;
        line-height: 90px;
        margin-top: 0px;
        /* background-color: aqua; */
    }
    #graph-1{
        width: 40%;
        height: 60px;
        margin-top: 20px;
    }
    #graph-2,#graph-3,#graph-4{
        margin-top: 40px;
    }
    #graph-2{
        margin-top: 0px;
    }
    #in-graph-yellow-1{
        max-width: 100%;
    }
    .line,.line-1{
        height: 60px;
    }
    .services{
        height: 350px;
        margin-top: 0px;
        padding-top: 0px;

    }
   
    .services-description{

       margin-top: 60px;
        height: 320px;
        color: #fff;
        /* background-color: #0048bc; */
    }
    .services-body {
        color: #fff;
        font-size: 33px;
        line-height: 44px;
        height: 320px;

    }
    .services-link{
        color: #fff;
        font-size: 34px;
    }
    .services-title{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .services-synopsis{
        font-size:18px;
        letter-spacing: -1;
    }
    .services-text{
        margin-top: -50px;
    }
    .services-hide{
        width: 101%;
        height: 100%;
       
        padding-right: 40px;
        padding-left: 40px;
        /* padding-top: 20%; */
        padding-bottom: 10px;
      
    }
    #sorn{
        width:35px;
        margin-left: 80%;
    }
    .section-red{
        padding: 60px;
    }
    .team{
        margin-top: 40px;
        padding-top: 0;
        padding-bottom: 0%;
    }
    .bg_img{
        display: none;
    }
    .wrap_team{
        position: relative;
        width: 100%;
        margin-left: 0%;
    }
    #team-header-title{
        font-size: 90px;
        margin-left: 0;
    }
    .team_name{
        font-size: 30px;

    }
    .team_pos{
        font-size: 16px;
    }
    .person_2{
        opacity: 0;
    }
    .team_person:nth-child(even){
        margin-top: -22%;
    }
    .team_person:nth-child(3){
        margin-top: -22%;
    }
    .section-red-2{
        padding-top: 100px;
        padding-bottom: 0px;
    }
    .hello{
        font-size: 90px;
        margin-bottom: 10px;
    }
    .email,.address{
        font-size: 22px;
    }
    .show-email{
        margin-left: 1%;
    }
    .to-email{
        font-size: 40px;

    }
    .address-data{
        font-size: 22px;
        line-height: 32px;
    }
    #top-arrow{
        height: 120px;
    }
    .wrap_blue{
        width: 100%;
        max-width: 900px;
    }
    .circle{
        width: 1000px;
        height: 1000px;
        position: absolute;
        top:-150px;
        right: -500px;
    }


}
@media screen and (max-width: 767px){
    #section-blue{
        padding-bottom: 60px;
        padding-top: 20px;
    }
    .services-wrapper{
        padding-bottom: 20px;
    }
    #services-head{
        width: 100%;
        margin-top: 20px;
        float: none;
        line-height: 40px;
        font-size: 40px;
        letter-spacing: -1px;
        margin-bottom: 0px;
    }
    

    .line,.line-1{
        width: 100%;
        margin-top: 20px;
        height: 40px;

    }
    #graph-1,#graph-2,#graph-3,#graph-4{
        z-index: 700;
        display: block;
        width: 100%;
        height: 40px;
        margin-top: 20px;
    
    }
    .services{
        height: 250px;
        padding-bottom: 20px;
    }
    .services-description{
        margin-top: 10px;
        padding-bottom: 30px;
    }
    #in-graph-yellow-1{
        max-width: 100%;
    }
    .services-title{
        font-size: 20px;
    }
    .services-synopsis{
        font-size: 16px;
        line-height: 26px;
        margin-top: -5px;
        width: 100%;

    }
    .services-text{
        width: 100%;
        margin-bottom: 0px;
    }
    .services-hide{
        padding-top: 0px;
    }
    
    .services-body{
        line-height: 30px;
    }
    .services-link{
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
    }
    #sorn{
        width: 25px;
        margin-right: 2%;
    }
    #team-header-title{
        margin-bottom: 5px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1px;
    }
    .team{
        padding-top: 20px;
    }
    .bg_img{
        display: none;
    }
    .wrap_team{
        position: relative;
    }
    .team_person:nth-child(even){
        margin-left: 35%;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .team_person:nth-child(3){
        margin-top: 0;
    }
    .person{
        width: 65%;
    }
    .section-red-2{
        padding-top: 80px;
        padding-bottom: 0px;
    }
    .hello{
        font-size: 40px;
    }
    .white-line-hello{
        height: 4px;
    }
    .email,.address{
        font-size: 16px;
    }
    .to-email{
        font-size: 30px;
        letter-spacing: 0px;

    }
    .contact-email{
        margin-top: -20px;
    }
    .show-email{
        margin-left: 1.5%;
    }
    .address-data{
        font-size: 16px;
        line-height: 26px;
    }
    #top-arrow{
        display: none;
    }
    .wrap-arrow{
        display: none;
    }
    .wrap_blue{
        width: 1600px;
        height: 600px;
    }
    .circle{
        width: 600px;
        height: 600px;
        position: absolute;
        top:-125px;
        right: -300px;
    }
    .team_person:nth-child(even){
        margin-top: 30px;
    }
    
}
@media screen and (max-width: 479px){
    #section-blue{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    #circle{
        width: 600px;
        height: 600px;
        position: absolute;
        top:-125px;
        right: -300px;
    }
   
    .services-synopsis {
        font-size: 14px;
    }
    .services-description{
        margin-top: 27px;
        padding-bottom: 30px;
        height: 400px;
    }
    #sorn{
        right: 20px;
    }
    .services-hide{
        /* padding-top: 5px; */
        padding-bottom: 2px;
    }
    .services-title{
       margin-top: 5px;
       font-size: 20px;
    }
    .services{
        height: auto;
    }
    .team_person:nth-child(even){
        margin-top: 30px;
    }
    .team_person .Grant{
        margin-bottom: 20px;
    }

}
@media screen and (min-width: 1680px){
    .wrap_blue{
        width: 1600px;
        /* height: 600px; */
    }
    .circle{
        width: 1200px;
        height: 1200px;
        position: absolute;
        top:-250px;
        right: -580px;
    }

}
@media screen and (min-width: 1870px){
    .wrap_blue{
        width: 1900px;
        /* height: 600px; */
    }
    .circle{
        width: 1300px;
        height: 1300px;
        position: absolute;
        top:-250px;
        right: -620px;
    }
    .section-red-2{
        padding-top: 100px;
        height: 1100px;
        padding-bottom: 100px;
    }
    .hello{
        font-size: 220px;
    }
    .address-data{
        font-size: 30px;
        line-height: 55px;
    }
    .to-email{
        font-size: 60px;
        margin-top: 30px;
    }
    .email,.address{
        font-size: 25px;

    }
    #top-arrow{
        height: 250px;
    }
    .bg_img{
        padding-bottom: 400px;
    }

}
@media screen and (min-width: 2000px){
    .wrap_blue{
        width: 100%;
        padding-left: 100px;
        height: 100%;
        padding-bottom: 40px;
    }
    .circle{
        width: 1300px;
        height: 1300px;
        position: absolute;
        top:-250px;
        right: -620px;
    }
    .section-red-2{
        padding-top: 200px;
        height: 1200px;
        padding-bottom: 200px;
    }
    .bg_img{
        padding-bottom: 400px;
    }
    #top-arrow{
        height: 250px;
    }
    .hello{
        font-size: 220px;
    }
    .address-data{
        font-size: 30px;
        line-height: 55px;
    }
    .to-email{
        font-size: 60px;
        margin-top: 30px;
    }
    .email,.address{
        font-size: 25px;

    }
    #top-arrow{
        height: 250px;
    }
}
@media screen and (min-width: 2200px){
    .wrap_blue{
        width: 100%;
        padding-left: 100px;
        height: 100%;
        /* height: 600px; */
        padding-bottom: 40px;
    }
    .section-red-2{
        padding-top: 300px;
        height: 1300px;
        padding-bottom: 200px;
    }
    .circle{
        width: 1400px;
        height: 1400px;
        position: absolute;
        top:-220px;
        right: -660px;
    }
    .bg_img{
        padding-bottom: 400px;
    }
    
    .hello{
        font-size: 220px;
    }
    .address-data{
        font-size: 30px;
        line-height: 55px;
    }
    .to-email{
        font-size: 60px;
        margin-top: 30px;
    }
    .email,.address{
        font-size: 25px;

    }
    #top-arrow{
        height: 250px;
    }
}
